.App {
  margin: 100px;
  text-align: center;
  display: flex;
  gap: 45px;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-top: 20px;
}
.navbar a{
  text-decoration: none;
  color: black;
  padding: 12px 18px;
  border-radius: 10px;
}
.navbar a:hover{
  background-color: rgb(189, 188, 188);
}
img{
  margin-top: 5px;
  margin-right: 150px;
}
.contact{
  margin-left: 150px;
}
.about{
  text-align: start;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px 25px;
}
.card{
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 5px 25px;
  margin-block: 10px;
  cursor: pointer;
  position: relative;
}
.card:hover{
  transform: scale(1.1);
  margin-left: 10px;
  background-color: rgb(233, 233, 233);
}
.card-img{
  display: flex;
  justify-content: right;
  align-items: center;
}
.card-img a{
  width: 30px;
}
.card img{
  width: 30px;
  bottom: 0px;
  right: -80px;
}
.bg{
  background-image: url(img/Full-Stack-Web-Developer--1-.png);
  background-position: center;
  background-size: cover;
  font-weight: 500;
  position: relative;
}
.bg h1{
  margin-right: 150px;
}
.bg p{
  font-weight: 650;
}
.bg img{
  animation: grow 3s ease-in-out infinite;
}
.bg img:hover{
  cursor: pointer;
  animation: grow 4s ease-in-out 0;
}
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.192); 
  opacity: 0.5; 
}
.flex{
  display: flex;
  gap: 55px;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid img{
  width: 50px;
  cursor: pointer;
  animation: grow 4s ease-in-out 2;
}
@keyframes grow {
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(0.7);
  }
  75%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1.0);
  }
}
.grid img:hover{
  animation: grow 4s ease-in-out 0;
  transform: scale(1.2);
}




@media screen and (max-width:600px) {
  .App{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }
  .navbar{
    display: flex;
    flex-direction: row;
  }
  .contact{
    margin-left: 10px;
  }
  .aboutme{
    width: 550px;
  }
  
}